<!-- This is the base template which passes its properties to its child 
template portfolio Portfolio will be injecting some HTML into the "blocks" you
see below -->
<!doctype html>
<html lang="en">

<head>
  <!-- Linking my css style sheet which is two directories above then back down
  into static/css/ directory. This .css file will contain all the styles I want
  for my web page and targets classes or ID's to style them -->
  <link rel="stylesheet" type="text/css" href="../../static/css/style.css">

<body>
  <main>
    {%block main%} {%endblock main%}
  </main>
  {%block script%}{%endblock script%}
</body>

</html>